name: Build JuliaPhysics Website

on:
  push:
    branches: [source]
    tags: '*'
  pull_request:

jobs:
  build:
    # These permissions are needed to:
    # - Deploy the documentation: https://documenter.juliadocs.org/stable/man/hosting/#Permissions
    # - Delete old caches: https://github.com/julia-actions/cache#usage
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
          show-versioninfo: true
      - uses: julia-actions/cache@v2
      - name: Instantiate julia environment
        shell: julia --color=yes --project {0}
        run: import Pkg; Pkg.instantiate()
      - name: Build and deploy documentation
        run: julia --color=yes --project make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
